<!--<div class="row d-sm-flex align-items-center justify-content-between mb-4">
  <br />
  <br />
  <div class="col-md-12">
    <h3 class=" mb-0 text-gray-800">Home > Dashboard</h3>
  </div>
  <hr style="color:#888" />
  <div class="form-row">
    <div class="col-md-12">
      <h2 class=" mb-0 text-gray-800">WELCOME TO GARAGE CUSTOMER CONTROL PANEL</h2>
    </div>
  </div>
</div>-->
<div class="row">
  <div class="col-md-12">
    <div class="form-row">
      <div class="col-md-12">
        <h2 class=" mb-0 text-gray-800">WELCOME TO GARAGE CUSTOMER CONTROL PANEL</h2>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Total Service's</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.totalService}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-viruses fa-2x text-gray-300"></i>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Total Location's</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.totalLocation}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-search-location fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Total Feature's</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.totalFeature}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-feather fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Total Carsell</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.totalCarsell}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-car fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
