<h1 class="h3 mb-2 text-gray-800">Add Location</h1>
<form [formGroup]="locationForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          Location Details
          <button class="btn btn-primary" type="submit" style="float: right;">Save changes</button>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputUsername">Name</label>
              <input type="text" class="form-control" id=Name placeholder="" formControlName="name" maxlength="30">
              <small>Remaining characters: {{ 30 - locationForm.controls['name'].value.length }}</small>
              <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputUsername">Arabic Name</label>
              <input type="text" class="form-control" id=arabicName placeholder="" formControlName="arabicName">
              <div *ngIf="f.arabicName.invalid && (f.arabicName.dirty || f.arabicName.touched)" class="alert alert-danger">
                <div *ngIf="f.arabicName.errors.required">
                  Arabic name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Address</label>
              <input type="text" class="form-control" id=address placeholder="" formControlName="address" maxlength="100" />
              <small>Remaining characters: {{ 100 - locationForm.controls['address'].value.length }}</small>
              <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="alert alert-danger">
                <div *ngIf="f.address.errors.required">
                  Address is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Arabic Address</label>
              <input type="text" class="form-control" id=address placeholder="" formControlName="arabicAddress">
              <div *ngIf="f.arabicAddress.invalid && (f.arabicAddress.dirty || f.arabicAddress.touched)" class="alert alert-danger">
                <div *ngIf="f.arabicAddress.errors.required">
                  Arabic Address is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Contact No</label>
              <input type="text" class="form-control" id=contactNo placeholder="" formControlName="contactNo" maxlength="15">
              <small>Remaining characters: {{ 15 - locationForm.controls['contactNo'].value.length }}</small>
              <div *ngIf="f.contactNo.invalid && (f.contactNo.dirty || f.contactNo.touched)" class="alert alert-danger">
                <div *ngIf="f.contactNo.errors.required">
                  Contact No is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Email</label>
              <input type="email" class="form-control" id=email placeholder="" formControlName="email">
              <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">
                  Email is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Description</label>
              <textarea class="form-control" id=descripiton formControlName="descripiton" height="100px"></textarea>
              <div *ngIf="f.descripiton.invalid && (f.descripiton.dirty || f.descripiton.touched)" class="alert alert-danger">
                <div *ngIf="f.descripiton.errors.required">
                  Descripiton is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Arabic Description</label>
              <textarea class="form-control" id=descripiton formControlName="arabicDescription" height="100px"></textarea>
              <div *ngIf="f.arabicDescription.invalid && (f.arabicDescription.dirty || f.arabicDescription.touched)" class="alert alert-danger">
                <div *ngIf="f.arabicDescription.errors.required">
                  Arabic Descripiton is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Latitude</label>
              <input type="text" class="form-control" id=latitude placeholder="" formControlName="latitude">
              <div *ngIf="f.latitude.invalid && (f.latitude.dirty || f.latitude.touched)" class="alert alert-danger">
                <div *ngIf="f.latitude.errors.required">
                  Latitude Descripiton is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Longitude</label>
              <input type="text" class="form-control" id=longitude placeholder="" formControlName="longitude">
              <div *ngIf="f.longitude.invalid && (f.longitude.dirty || f.longitude.touched)" class="alert alert-danger">
                <div *ngIf="f.longitude.errors.required">
                  Longitude is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Attach Amenities</label>
              <ng-select [items]="AmenitiesList" bindLabel="name" bindValue="amenitiesID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAmenitiesID">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of items">
                    <span class="ng-value-label">{{item.name}}</span>
                    <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Attach Services</label>
              <ng-select [items]="ServiceList" bindLabel="serviceTitle" bindValue="serviceID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedServiceID">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of items">
                    <span class="ng-value-label">{{item.serviceTitle}}</span>
                    <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Country</label>
              <select class="custom-select" id="countryID" formControlName="countryID" (change)="onSelect($event)" [(ngModel)]="countryID">
                <option [ngValue]="option.code" selected="option.code == code" *ngFor="let option of CountryList"> {{option.name}} </option>
              </select>
              <div *ngIf="f.countryID.invalid && (f.countryID.dirty || f.countryID.touched)" class="alert alert-danger">
                <div *ngIf="f.countryID.errors.required">
                  Country is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">City</label>
              <select class="custom-select" id=cityID formControlName="cityID" [(ngModel)]="cityID" required>
                <option [ngValue]="option.id" selected="option.id == id"
                        *ngFor="let option of CityList">
                  {{option.name}}
                </option>
              </select>
              <div *ngIf="f.cityID.invalid && (f.cityID.dirty || f.cityID.touched)" class="alert alert-danger">
                <div *ngIf="f.cityID.errors.required">
                  City is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputUsername">Select Landmark</label>
              <select class="custom-select" formControlName="landmarkID">
                <option [ngValue]="option.landmarkID" selected="option.landmarkID == landmarkID"
                        *ngFor="let option of Items">
                  {{option.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">GMap Link</label>
              <input type="text" class="form-control" id=gmaplink placeholder="" formControlName="gmaplink">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-lg-6">
              <label class="small mb-1" for="inputUsername">Business Type</label>
              <select class="custom-select" formControlName="businessType">
                <option selected disabled>-- Please Select --</option>
                <option>Oil Change</option>
                <option>Car Wash</option>
                <option>Mechanic</option>
                <option>Polishing</option>
                <option>Tyres</option>
              </select>
            </div>

            <div class="form-group col-lg-3">
              <label class="small mb-1" for="inputUsername">Customer Status</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="customerStatusID" formControlName="customerStatusID">
                <label class="custom-control-label" for="customerStatusID"></label>
              </div>
            </div>
            <div class="form-group col-lg-3">
              <label class="small mb-1" for="inputUsername">IsFeatured</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="isFeatured" formControlName="isFeatured">
                <label class="custom-control-label" for="isFeatured"></label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12 form-group">
              <small>Note: File Size limit is 150 KB</small>
              <br>
              <label for="file">Select Images </label>
              <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
              <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
              </div>
            </div>
            <div *ngFor='let url of Images' class="col-md-2">
              <i class="fa fa-times" (click)="removeImage(url)" style="    background: #E91E63;
                    padding: 5px 8px;
                    border-radius: 18px;
                    color: white;
                    position: absolute;
                    left: 0;"></i>
              <img [src]="url" style="padding: 7px; max-width: 200px;  width: auto;height: 180px;"> <br />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <h5>Location Timing's</h5>
            </div>
            <div class="form-group col-md-4">
              <h5>Arabic Timing's</h5>
            </div>
            <div class="form-group col-md-4">
              <h5>Brand Thumbnail Image</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="row" *ngFor="let timings of locationTimings">
                <div class="col-md-5 form-group">
                  <label class="small mb-1" for="inputUsername">{{ timings.name }}</label>
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="" id="timings{{ timings }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="timings.time">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row" *ngFor="let time of arabicTimings">
                <div class="col-md-5 form-group">
                  <label class="small mb-1" for="inputUsername">{{ time.aName }}</label>
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="" id="time{{ time }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="time.aTime">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <app-imageupload style="display:inline-block"></app-imageupload>
              <!--<div class="row" *ngFor="let time of arabicTimings">
                <div class="col-md-5 form-group">
                  <label class="small mb-1" for="inputUsername">{{ time.arabicName }}</label>
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="" id="time{{ arabicTime }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="time.arabicTime">
                </div>
              </div>-->
            </div>
          </div>
          <!--<div class="form-row">
            <div class="form-group col-md-6">
              <h5>Brand Thumbnail Image</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group col-md-4">
                <app-imageupload></app-imageupload>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</form>
