<!-- Page Heading -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h6 class="m-0 font-weight-bold text-orange">CarSell Details</h6>
      </div>
      <div class="col-md-6 text-right">

      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 mb-4" *ngIf="carsell.statusID!=4">
        <div class="card border-left-info shadow mb-4">
          <div class="card-header border-bottom-0">CarSell Status</div>
          <div class="card-body">
            <div class="col-md-6">
              <button class="btn btn-warning mr-1" (click)="updateOrder(carsell,2)">
                <i class="fas fa-check-circle"></i> Accepted
              </button>
              <button class="btn btn-info mr-1" (click)="updateOrder(carsell,3)">
                <i class="fas fa-truck"></i> Rejected
              </button>
              <button class="btn btn-danger mr-1" (click)="updateOrder(carsell,4)">
                <i class="fas fa-people-carry"></i> Sold
              </button>
            </div>
            <br />
            <div class="col-md-6">
              <label>Reason</label>
              <input type="text" class="form-control" [(ngModel)]="reason" required="required" />
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 mb-4">

        <div class="card border-left-success shadow mb-4">
          <div class="card-body">
            <div class="card">
              <div class="card-header border-bottom-0">Car Information</div>

              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Car Name
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.name }}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Description
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.description }}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Body Type
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.bodyName }}</div>



              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Fuel Type
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.fuelType }}</div>

              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Engine Type
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.engineType }}</div>
              </div>

            </div>
          </div>
        </div>
        <div class="card border-left-warning shadow ">

          <div class="card-body">

            <!-- Report summary card example-->
            <div class="card">
              <div class="card-header border-bottom-0">Car Details</div>

              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Kilometer
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.kilometer }}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Year
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.year }}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Transmition
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.transmition }}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Body Color
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.bodyColor }}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Assembly
                    </a>
                  </div>
                </div>

                <div class="mr-2">
                  {{ carsell.assembly }}
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Is Inspected
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.isInspected}}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Price
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.price }}</div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border-left-danger shadow mb-4">

          <div class="card-body">
            <div class="card">
              <div class="card-header border-bottom-0">Customer Details</div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Customer Name
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ customerInfo.fullName}}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Contact
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ customerInfo.mobile}}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Email
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ customerInfo.email}}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      City
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ customerInfo.city}}</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#!">
                      Address
                    </a>
                  </div>
                </div>
                <div class="mr-2">{{ carsell.address}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
