<h1 class="h3 mb-2 text-gray-800">Add Car Sell</h1>
<p class="mb-4"></p>

<form [formGroup]="carSellForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Car Sell Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Customer</label>
              <input class="form-control" type="number" placeholder="Enter a valid Saudi Arabia phone number" formControlName="customerPhone" maxlength="15">
              <small>Remaining characters: {{ 15 - carSellForm.controls['customerPhone'].value.length }}</small>
              <!--<div *ngIf="form.get('customerPhone').hasError('saudiPhoneNumber')">
                Please enter a valid Saudi Arabia phone number.
              </div>-->
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputUsername">Name</label>
              <input type="text" class="form-control" id=Name placeholder="" formControlName="name" maxlength="30">
              <small>Remaining characters: {{ 30 - carSellForm.controls['name'].value.length }}</small>
              <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="">
                <div *ngIf="f.name.errors.required">
                  Name is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Address</label>
              <input type="text" class="form-control" id=address placeholder="" formControlName="address" maxlength="100">
              <small>Remaining characters: {{ 100 - carSellForm.controls['address'].value.length }}</small>
              <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="alert alert-danger">
                <div *ngIf="f.address.errors.required">
                  Address is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Description</label>
              <input type="text" class="form-control" id=description placeholder="" formControlName="description">
              <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="alert alert-danger">
                <div *ngIf="f.description.errors.required">
                  Description is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Registration No</label>
              <input type="text" class="form-control" id=registrationNo placeholder="" formControlName="registrationNo" maxlength="10">
              <small>Remaining characters: {{ 10 - carSellForm.controls['registrationNo'].value.length }}</small>
              <div *ngIf="f.registrationNo.invalid && (f.registrationNo.dirty || f.registrationNo.touched)" class="alert alert-danger">
                <div *ngIf="f.registrationNo.errors.required">
                  Registration No. is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Body Type</label>
              <select class="custom-select" id="bodyTypeID" formControlName="bodyTypeID">
                <option [ngValue]="option.bodyTypeID" selected="option.bodyTypeID == bodyTypeID" *ngFor="let option of BodyTypeList"> {{option.name}} </option>
              </select>
              <div *ngIf="f.bodyTypeID.invalid && (f.bodyTypeID.dirty || f.bodyTypeID.touched)" class="alert alert-danger">
                <div *ngIf="f.bodyTypeID.errors.required">
                  Body Type is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Attach Features</label>
              <ng-select [items]="FeaturesList" bindLabel="name" bindValue="featureID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedFeatureID">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of items">
                    <span class="ng-value-label">{{item.name}}</span>
                    <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Country</label>
              <select class="custom-select" id=countryCode formControlName="countryCode" (change)="onSelect($event)" [(ngModel)]="countryCode">
                <option [ngValue]="option.code" selected="option.code == code" *ngFor="let option of CountryList"> {{option.name}} </option>
              </select>
              <div *ngIf="f.countryCode.invalid && (f.countryCode.dirty || f.countryCode.touched)" class="alert alert-danger">
                <div *ngIf="f.countryCode.errors.required">
                  Country is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">City</label>
              <select class="custom-select" id=cityID formControlName="cityID" required>
                <option [ngValue]="option.id" selected="option.id == id"
                        *ngFor="let option of CityList">
                  {{option.name}}
                </option>
              </select>
              <div *ngIf="f.cityID.invalid && (f.cityID.dirty || f.cityID.touched)" class="alert alert-danger">
                <div *ngIf="f.cityID.errors.required">
                  City is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Fuel Type</label>
              <select type="time" class="form-control" id=fuelType placeholder="" formControlName="fuelType">
                <option selected disabled> -- Please Select -- </option>
                <option>Petrol</option>
                <option>Diesel</option>
                <option>Electric</option>
                <option>Other</option>
              </select>
              <div *ngIf="f.fuelType.invalid && (f.fuelType.dirty || f.fuelType.touched)" class="alert alert-danger">
                <div *ngIf="f.fuelType.errors.required">
                  Fuel Type is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Engine Type</label>
              <select type="time" class="form-control" id=engineType placeholder="" formControlName="engineType">
                <option selected disabled> -- Please Select -- </option>
                <option>Inline Engine Layout</option>
                <option>Flat Engine</option>
                <option>V-Engine</option>
                <option>Twin Cylinder</option>
                <option>Three Cylinder</option>
                <option>Four Cylinder</option>
                <option>Five Cylinder</option>
                <option>Six Cylinder</option>
                <option>Seven Cylinder</option>
                <option>Eight Cylinders</option>
                <option>Nine Cylinders</option>
                <option>Ten Cylinders</option>
                <option>Eleven Cylinders</option>
                <option>Twelve Cylinders</option>
                <option>Other</option>
              </select>
              <div *ngIf="f.engineType.invalid && (f.fuelType.dirty || f.engineType.touched)" class="alert alert-danger">
                <div *ngIf="f.engineType.errors.required">
                  Engine Type Type is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Kilometer</label>
              <input type="number" class="form-control" id=kilometer placeholder="" formControlName="kilometer">
              <div *ngIf="f.kilometer.invalid && (f.kilometer.dirty || f.kilometer.touched)" class="alert alert-danger">
                <div *ngIf="f.kilometer.errors.required">
                  Mileage is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Transmition</label>
              <select type="time" class="form-control" id=transmition placeholder="" formControlName="transmition">
                <option selected disabled> -- Please Select -- </option>
                <option>Automatic</option>
                <option>Manual</option>
                <option>Other</option>
              </select>
              <div *ngIf="f.transmition.invalid && (f.transmition.dirty || f.transmition.touched)" class="alert alert-danger">
                <div *ngIf="f.transmition.errors.required">
                  Transmition is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Price</label>
              <input type="number" class="form-control" id=price placeholder="" formControlName="price">
              <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)" class="alert alert-danger">
                <div *ngIf="f.price.errors.required">
                  Price is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Body Color</label>
              <input type="text" class="form-control" id=bodyColor placeholder="" formControlName="bodyColor">
              <div *ngIf="f.bodyColor.invalid && (f.bodyColor.dirty || f.bodyColor.touched)" class="alert alert-danger">
                <div *ngIf="f.bodyColor.errors.required">
                  Color is required.
                </div>
              </div>
            </div>


            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Make</label>
              <select class="custom-select" id=makeID formControlName="makeID" (change)="onChange($event)">
                <option [ngValue]="option.makeID" selected="option.makeID == makeID" *ngFor="let option of MakeList"> {{option.name}} </option>
              </select>
              <div *ngIf="f.makeID.invalid && (f.makeID.dirty || f.makeID.touched)" class="alert alert-danger">
                <div *ngIf="f.makeID.errors.required">
                  Make is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Model</label>
              <select class="custom-select" formControlName="modelID">
                <option [ngValue]="option.modelID" selected="option.modelID == modelID"
                        *ngFor="let option of ModelList">
                  {{option.name}}
                </option>
              </select>
              <div *ngIf="f.modelID.invalid && (f.modelID.dirty || f.modelID.touched)" class="alert alert-danger">
                <div *ngIf="f.modelID.errors.required">
                  Model is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputFirstName">Assembly</label>
              <select type="time" class="form-control" id=assembly placeholder="" formControlName="assembly">
                <option selected disabled> -- Please Select -- </option>
                <option>Local</option>
                <option>Imported</option>
                <option>Other</option>
              </select>
              <div *ngIf="f.assembly.invalid && (f.assembly.dirty || f.assembly.touched)" class="alert alert-danger">
                <div *ngIf="f.assembly.errors.required">
                  Assembly is required.
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="small mb-1" for="inputLocation">Year</label>
              <select name="year" id="year" formControlName="year" class="form-control" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let option of YearList" [value]="option">{{option}}</option>
              </select>
              <div *ngIf="f.year.invalid && (f.year.dirty || f.year.touched)" class="alert alert-danger">
                <div *ngIf="f.year.errors.required">
                  Year is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="Item Status">Is Inspected</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="isInspected" formControlName="isInspected">
                <label class="custom-control-label" for="isInspected"></label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <input type="number" class="form-control" id=statusID placeholder="" formControlName="statusID" value="1" hidden>
          </div>
          <div class="form-row">
            <div class="col-md-12 form-group">

              <small>Note: File Size limit is 150 KB</small>
              <br>
              <label for="file">Select Images </label>
              <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
              <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
              </div>
            </div>
            <div *ngFor='let url of Images' class="col-md-2">
              <i class="fa fa-times" (click)="removeImage(url)" style="    background: #E91E63;
                    padding: 5px 8px;
                    border-radius: 18px;
                    color: white;
                    position: absolute;
                    left: 0;"></i>
              <img [src]="url" style="padding: 7px; max-width: 200px;  width: auto;height: 180px;"> <br />
            </div>

          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Save changes</button>

        </div>
      </div>
    </div>
  </div>
</form>
