<h1 class="h3 mb-2 text-gray-800">Add Discount</h1>
<p class="mb-4"></p>

<!-- Loader Component -->
<app-loader *ngIf="loading"></app-loader>

<form [formGroup]="discountForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Discount Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-8">
              <div class="form-group ">
                <label class="small mb-1" for="inputUsername">Name <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="name" placeholder="" formControlName="name" maxlength="50" />
                <small>Remaining characters: {{ 50 - discountForm.controls['name'].value.length }}</small>
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                  <div *ngIf="f.name.errors.required">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <label class="small mb-1" for="inputUsername">Arabic Name</label>
                <input type="text" class="form-control" id=arabicName placeholder="" formControlName="arabicName">
              </div>
              <div class="form-group ">
                <label class="small mb-1" for="inputUsername">Description</label>
                <input type="text" class="form-control" id="description" placeholder="" formControlName="description">
              </div>
              <div class="form-group ">
                <label class="small mb-1" for="inputUsername">Arabic Description</label>
                <input type="text" class="form-control" id="arabicDescription" placeholder="" formControlName="arabicDescription">
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="small mb-1" for="inputLocation">Attach Location</label>
                  <ng-select [items]="LocationList" bindLabel="name" bindValue="locationID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedLocationID">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                      <div class="ng-value" *ngFor="let item of items">
                        <span class="ng-value-label">{{item.name}}</span>
                        <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <div class="form-group ">
                    <label class="small mb-1" for="inputUsername">Background Color</label>
                    <input type="color" class="form-control" id="backgroundColor" formControlName="backgroundColor" value="#d1d3e2" [(ngModel)]="selectedColor" />
                  </div>
                </div>
                <div class="form-group col-6">
                  <div class="form-group ">
                    <label class="small mb-1" for="inputUsername">Font Color</label>
                    <input type="color" class="form-control" id="fontColor" formControlName="fontColor" value="#d1d3e2" [(ngModel)]="selectedFontColor" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="small mb-1" for="inputFirstName">From Date<span style="color:red;">*</span></label>
                  <input type="date" class="form-control" id="fromDate" placeholder="" formControlName="fromDate" required>
                  <div *ngIf="f.fromDate.invalid && (f.fromDate.dirty || f.fromDate.touched)" class="alert alert-danger">
                    <div *ngIf="f.fromDate.errors.required">
                      From Date is required.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label class="small mb-1" for="inputFirstName">To Date<span style="color:red;">*</span></label>
                  <input type="date" class="form-control" id="toDate" placeholder="" formControlName="toDate" required>
                  <div *ngIf="f.toDate.invalid && (f.toDate.dirty || f.toDate.touched)" class="alert alert-danger">
                    <div *ngIf="f.toDate.errors.required">
                      To Date is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="small mb-1" for="inputFirstName">From Time<span style="color:red;">*</span></label>
                  <ngb-timepicker [(ngModel)]="fromTime" [ngModelOptions]="{standalone: true}" [meridian]="true"></ngb-timepicker>
                </div>
                <div class="form-group col-md-4">
                  <label class="small mb-1" for="inputFirstName">To Time<span style="color:red;">*</span></label>
                  <ngb-timepicker [(ngModel)]="toTime" [ngModelOptions]="{standalone: true}" [meridian]="true"></ngb-timepicker>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <label for="Item Status">Status</label>
                  <div class="custom-control custom-switch custom-switch-md">
                    <input type="checkbox" class="custom-control-input" checked id="statusID" formControlName="statusID">
                    <label class="custom-control-label" for="statusID"></label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <small>Note: Image Size limit is 150 KB</small>
                </div>
              </div>
              <!-- Save changes button-->
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
            <div class="form-group col-md-4 text-center">
              <label for="Item Status">English Banner</label>
              <app-imageupload></app-imageupload>
              <br />
              <br />
              <label for="Item Status">Arabic Banner</label>
              <app-alternateimage></app-alternateimage>
              <br />
              <br />
              <label for="file">Brand Thumbnail Image</label>
              <app-thumbnailimage></app-thumbnailimage>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
